.setNewPassword{
    padding: 25px 33px 30px;
    width: 413px;  
    background: #F9F9FE;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    margin-bottom: 30px;
}
.button{
    margin-top: 90px;
}
.text{
    text-align: left;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}