.inputPassword {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    background: #F9F9FE;
    outline:none;
    color: #2D2E46;
    margin-top:10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 24px 0 24px;
    height: 90px;
}
.input{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.input span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    position: absolute;
    opacity: .5;
    bottom:0;
    left: 2px;
    visibility: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.input input:placeholder-shown ~ span{
    visibility: visible;
}
.input input:placeholder-shown:focus ~ span,
.input input:not(:placeholder-shown) ~ span{
    bottom: 100%;
    opacity: 1;
    visibility: visible;
}
.passwordControl{
    position: absolute;
    top: 5px;
    right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url('./../../assets/images/Shape.png') no-repeat;
}
.passwordControl.view{
    opacity: 0.3;
}
.line{
    background: #24254A;
    opacity: 0.2;
    margin: 0;
    width: 100%;
    height: 1.5px;
}
.errorInput {
    outline: none;
    font-size: 16px;
    padding: 6px 0 4px 10px;
    border: none;
    background: #fbd1d7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.error {
    color: #24254A;
    background-color: #e5d7ea;
    border: groove;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
}